

.homepage-itroduce {
    display: flex;
    font-size: 15px;
}
.img-homepage-intro {
    margin-top: 3px;
}
.text-homepage-intro {
    
    margin-left: 15px;
    display: block;
    p {
        font-weight: 500;
        margin: 0 auto;
        padding: 0 0 2px 0;
    }
}

.all-product {
    width: 150px;
    height: 50px;
    display: flex;
    margin: 0 auto;
    border: 1px solid black;
    align-items: center;
    border-radius: 7px;
    i{
        margin-top: 5px;
        margin-left: 5px;
        font-size: 16px;
    }
    p {
        font-size: 16px;
        margin-top: 10px;
        margin-left: 30px;
    }
}
.all-product:hover {
    background-color: rgba(0, 0, 0, 0.8); 
    color: white;
}
@media (max-width: 1000px) {
    .homepage-itroduce {
      text-align: center;
      display: flex;
      flex-direction: column;
    }
  }

.text-homepage-products {
    margin-top: 10px;
    p{
        font-size: 19px;
        font-weight: 400;
        margin: 0 auto;
    }
}

.text-center {
    font-size: 30px;
    font-weight: 400;
    .hihi {
        font-size: 15px;
        color: #999999;
    }
}
.hover-product {
    transition: transform 0.3s ease;
}

.hover-product:hover {
    transform: scale(1.06); /* Phóng to ảnh lên 10% */
}

.underline {
    position: relative;
  }
  
  .underline::after {
    content: "";
    position: absolute;
    margin-left: -5px;
    bottom: 15px; /* Adjust position if necessary */
    width: 290px;
    height: 1px; /* Thickness of the underline */
    background-color: #aca9a9; /* Color of the underline */
  }
  .collection-item {
    color: gray;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: color 0.3s, border-bottom 0.3s;
    user-select: none;
  }
  
  .collection-item.active {
    color: black;
    border-bottom: 2px solid black;
  }
  
